.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $primary-color;
  opacity: 0.9;
  z-index: 5;
  display: none;

  &.show {
    display: inline;
  }
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 6;
  display: inline;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .form-card {
    position: relative;
    height: 600px;
    width: 500px;
    background: #fff;
    margin-top: 100px;
    border-radius: 5px;
    transform: translateX(100vw);
    @include slowEaseOut;

    &.show {
      @include slowEaseOut;
      transform: translateX(0);
    }

    .form-header-container {
      display: flex;
      flex-flow: row;
      align-items: left;
      justify-content: center;
      height: 50px;
      width: auto;
      background-image: url("../images/branding/form-header-1.png");
      color: #fff;
      font-weight: 900;
      text-transform: capitalize;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: left;

      .form-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: auto;
      }
    }

    .company-details-header-container {
      display: flex;
      flex-flow: row;
      align-items: left;
      justify-content: center;
      height: 50px;
      width: auto;
      background-image: url("../images/branding/form-header-2.png");
      color: #fff;
      font-weight: 900;
      text-transform: capitalize;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: left;

      .form-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: auto;
      }
    }

    .form-name {
      width: 431px;
    }
    .fas {
      cursor: pointer;
      margin-left: 10px;
    }

    .fa-times {
      &:hover {
        color: lightcoral;
        @include fastEaseOut;
      }
    }

    .fa-pencil-alt {
      &:hover {
        color: lightskyblue;
        @include fastEaseOut;
      }
    }

    .form-footer-container {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60px;
      width: 100%;
      background: $primary-card-color;
      border-top: 1px solid $tertiary-card-color;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
