.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $primary-color;
  opacity: 0.8;
  z-index: 5;

  &.show {
    display: block;
  }
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 6;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: left;

  .form-card {
    height: 600px;
    width: 500px;
    background: #fff;
    margin-top: 100px;
    border-radius: 5px;

    //   &.show {
    //   @include slowEaseOut;
    //   transform: translateY(-86%);
    // }

    .form-header-container {
      display: flex;
      flex-flow: row;
      align-items: left;
      justify-content: center;
      // height: 100%;
      height: 50px;
      width: auto;
      background-image: linear-gradient(
        to right,
        $tertiary-color,
        $secondary-color
      );
      color: #fff;
      font-weight: 900;
      text-transform: capitalize;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      text-align: left;

      .form-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: auto;
      }
    }

    .form-name {
      width: 440px;
    }
    .fa-times {
      width: auto;
    }
  }
}
