.company-grid-container {
  margin: 15px auto 15px auto;
  border-left: 1px solid $tertiary-card-color;
  border-right: 1px solid $tertiary-card-color;
  border-top: 1px solid $tertiary-card-color;
  border-bottom: 1px solid $tertiary-card-color;
  max-height: 600px;
  max-width: 1200px;
  overflow: scroll;
}

.company-grid-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: $primary-color;
  border-bottom: 1px solid $tertiary-card-color;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.company-grid-items {
  background: #fff;
  height: 35px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    background: $primary-card-color;
  }
}

.company-grid-header {
  font-weight: 600;
  background: $primary-card-color;
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.grid-title-items {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  width: 200px;
  height: 100%;

  // white-space: nowrap;     //
  // overflow: hidden;        //  WORKS, BUT NOT IDEALLY -- DIV HIDES, NOT THE TEXT, SO NO ...
  // text-overflow: ellipsis; //
  &:nth-child(1) {
    width: 340px;
  }
  &:nth-child(3) {
    width: 180px;
  }
  &:nth-child(4) {
    width: 250px;
  }
  &:nth-child(5) {
    width: 250px;
  }
}

.company-grid-name {
  font-weight: 600;
  padding-left: 20px;
}

.grid-logo-and-name-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.arrow-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  .fa-sort-up {
    margin-bottom: -5px;
    color: $tertiary-card-color;
  }

  .fa-sort-down {
    margin-top: -5px;
    color: $tertiary-card-color;
  }
}

#companyName {
  cursor: pointer;
  &:hover {
    background: $secondary-card-color;
  }
}

#city {
  cursor: pointer;
  &:hover {
    background: $secondary-card-color;
  }
}

#state {
  cursor: pointer;
  &:hover {
    background: $secondary-card-color;
  }
}

#createdDate {
  cursor: pointer;
  &:hover {
    background: $secondary-card-color;
  }
}

#updatedDate {
  cursor: pointer;
  &:hover {
    background: $secondary-card-color;
  }
}
