.company-grid-container {
  margin: 15px 0 15px 0;
  border-left: 1px solid $tertiary-card-color;
  border-right: 1px solid $tertiary-card-color;
  border-top: 1px solid $tertiary-card-color;
}

.company-grid-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: $primary-color;
  border-bottom: 1px solid $tertiary-card-color;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.company-grid-items {
  background: #fff;
  height: 35px;
  text-transform: capitalize;
}

.company-grid-header {
  font-weight: 600;
  background: $primary-card-color;
  height: 40px;
}

.grid-title-items {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  width: 200px;
  height: 100%;
  // white-space: nowrap;     //
  // overflow: hidden;        //  WORKS, BUT NOT IDEALLY -- DIV HIDES, NOT THE TEXT, SO NO ...
  // text-overflow: ellipsis; //
  &:nth-child(1) {
    margin-left: 20px;
    width: 300px;
  }
  &:nth-child(4) {
    width: 200px;
  }
  &:nth-child(5) {
    width: 200x;
  }
}

.company-grid-name {
  font-weight: 600;
  padding-left: 20px;
}

.grid-logo-and-name-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.arrow-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  .fa-sort-up {
    margin-bottom: -5px;
    color: $tertiary-card-color;
  }

  .fa-sort-down {
    margin-top: -5px;
    color: $tertiary-card-color;
  }
}
