.chart-card {
  margin-top: 15px;
  background: $primary-card-color;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px 1px #d8d8d8;
}

.info-card {
  margin-top: 15px;
  background: $primary-card-color;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px 1px #d8d8d8;
}
