.header-div {
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid lighten($primary-color, 50%);

  h2 {
    color: $primary-color;
    font-weight: 300;
  }
}
