.nav-container {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2c2c2c;
  width: 100%;
  height: 60px;
  color: white; }

.nav-style-line {
  position: absolute;
  top: 0px;
  background: #5cff7a;
  width: 100%;
  height: 2px; }

.nav-list {
  height: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 200; }

.nav-list-item {
  padding: 0px 20px 0px 20px;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; }
  .nav-list-item:nth-child(1) {
    margin-left: 40px; }
  .nav-list-item:hover {
    background: #1f1f1f;
    cursor: pointer;
    transition: all 0.1s ease-out; }

.header-div {
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #acacac; }
  .header-div h2 {
    color: #2c2c2c;
    font-weight: 300; }

.header-div {
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #acacac; }
  .header-div h2 {
    color: #2c2c2c;
    font-weight: 300; }

.chart-card {
  margin-top: 15px;
  background: #f4f8fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 5px 1px #d8d8d8; }

.info-card {
  margin-top: 15px;
  background: #f4f8fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 5px 1px #d8d8d8; }

.header-div {
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #acacac; }
  .header-div h2 {
    color: #2c2c2c;
    font-weight: 300; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  color: #2c2c2c;
  margin: 0 55px 0 55px; }

a {
  color: #fff;
  text-decoration: none; }
