.nav-container {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2c2c2c;
  width: 100%;
  height: 60px;
  color: white;
}


.nav-style-line {
  position: absolute;
  top: 0px;
  background: #5cff7a;
  width: 100%;
  height: 2px;
}

.nav-list {
  height: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 200;
}

.nav-list-item {
  padding: 0px 20px 0px 20px;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.nav-list-item:hover {
  background: #1f1f1f;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.chart-card {
  margin-top: 15px;
  background: #f4f8fa;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px 1px #d8d8d8;
}

.company-grid-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.grid-title-bar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: #f4f8fa;
  color: #2c2c2c;
  font-weight: 500;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
}

.grid-title-items {
  width: 200px;
  height: auto;
}

.grid-title-items:nth-child(1) {
  margin-left: 40px;
}

.header-div {
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #acacac;
}

.header-div h2 {
  color: #2c2c2c;
  font-weight: 300;
}

.info-card {
  margin-top: 15px;
  background: #f4f8fa;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px 1px #d8d8d8;
}

.header-div {
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #acacac;
}

.header-div h2 {
  color: #2c2c2c;
  font-weight: 300;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #2c2c2c;
  opacity: 0.8; }
  .mask.show {
    display: block; }

.form-container {
  height: 600px;
  width: 500px;
  background: #fff;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: left; }
  .form-container.show {
    transition: all 0.3s ease-out;
    transform: translateY(-86%); }
  .form-container .form-header {
    height: 60px;
    width: 100%;
    background: #2c2c2c;
    color: white; }

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  color: #2c2c2c;
  margin: 0 55px 0 55px; 
}

a {
  color: #fff;
  text-decoration: none;
}
.btn {
  position: absolute;
  right: 0;
  background: #2eb347;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 12px 24px 12px 24px;
  border-radius: 3px; }
  .btn:hover {
    background: #33c74f;
    transition: all 0.1s ease-out; }

.header-div {
  position: relative;
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #acacac; }
  .header-div h2 {
    color: #2c2c2c;
    font-weight: 300; }