.nav-container {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2c2c2c;
  width: 100%;
  height: 60px;
  color: white;
  z-index: 10; }

.nav-style-line {
  position: absolute;
  top: 0px;
  background: #33c74f;
  width: 100%;
  height: 2px; }

.nav-list {
  height: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 200; }

.nav-list-item {
  padding: 0px 20px 0px 20px;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; }
  .nav-list-item:nth-child(1) {
    margin-left: 40px; }
  .nav-list-item:hover {
    background: #1f1f1f;
    cursor: pointer;
    transition: all 0.1s ease-out; }

.company-grid-container {
  margin: 15px auto 15px auto;
  border-left: 1px solid #c9d1da;
  border-right: 1px solid #c9d1da;
  border-top: 1px solid #c9d1da;
  border-bottom: 1px solid #c9d1da;
  max-height: 600px;
  max-width: 1200px;
  overflow: scroll; }

.company-grid-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: #2c2c2c;
  border-bottom: 1px solid #c9d1da;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase; }

.company-grid-items {
  background: #fff;
  height: 35px;
  text-transform: capitalize;
  cursor: pointer; }
  .company-grid-items:hover {
    background: #f4f8fa; }

.company-grid-header {
  font-weight: 600;
  background: #f4f8fa;
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 1; }

.grid-title-items {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  width: 200px;
  height: 100%; }
  .grid-title-items:nth-child(1) {
    width: 340px; }
  .grid-title-items:nth-child(3) {
    width: 180px; }
  .grid-title-items:nth-child(4) {
    width: 250px; }
  .grid-title-items:nth-child(5) {
    width: 250px; }

.company-grid-name {
  font-weight: 600;
  padding-left: 20px; }

.grid-logo-and-name-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px; }

.arrow-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px; }
  .arrow-container .fa-sort-up {
    margin-bottom: -5px;
    color: #c9d1da; }
  .arrow-container .fa-sort-down {
    margin-top: -5px;
    color: #c9d1da; }

#companyName {
  cursor: pointer; }
  #companyName:hover {
    background: #e2eaf2; }

#city {
  cursor: pointer; }
  #city:hover {
    background: #e2eaf2; }

#state {
  cursor: pointer; }
  #state:hover {
    background: #e2eaf2; }

#createdDate {
  cursor: pointer; }
  #createdDate:hover {
    background: #e2eaf2; }

#updatedDate {
  cursor: pointer; }
  #updatedDate:hover {
    background: #e2eaf2; }

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 510px;
  background: #fff;
  z-index: -10; }

.chart-container {
  margin-top: 15px;
  background: #fff;
  padding: 20px;
  border: 1px solid #dfdfdf; }

.info-graphic-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto 50px auto;
  max-width: 1225px; }
  .info-graphic-container .info-card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 260px;
    width: 260px;
    padding: 40px;
    text-align: center;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
    .info-graphic-container .info-card span {
      text-transform: capitalize;
      font-size: 3rem; }
    .info-graphic-container .info-card .days {
      font-size: 2rem; }
    .info-graphic-container .info-card:nth-child(1) {
      border-right: 1px solid #ababab;
      border-bottom: 1px solid #ababab; }
    .info-graphic-container .info-card:nth-child(2) {
      border-right: 1px solid #ababab;
      border-bottom: 1px solid #ababab; }
    .info-graphic-container .info-card:nth-child(3) {
      border-bottom: 1px solid #ababab; }
    .info-graphic-container .info-card:nth-child(4) {
      border-right: 1px solid #ababab; }
    .info-graphic-container .info-card:nth-child(6) {
      border-left: 1px solid #ababab; }
    .info-graphic-container .info-card h4 {
      font-size: 20px; }

.avgTimeToClose {
  font-size: 6rem;
  font-weight: 900; }
  .avgTimeToClose .variable-info-p {
    margin-top: -20px; }

.deal-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  height: 600px; }
  .deal-grid-container .deal-list-container {
    border-right: 1px solid lightgray;
    width: 220px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 15px; }
    .deal-grid-container .deal-list-container .deal-list-title {
      padding: 8px;
      background: #f4f8fa;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 600; }
    .deal-grid-container .deal-list-container .deal-list {
      padding: 8px;
      transition: background-color 0.2s ease;
      flex: 1;
      overflow-y: scroll; }
      .deal-grid-container .deal-list-container .deal-list .deal-card-container {
        transition: background-color 0.2s ease;
        border: 1px solid #c9d1da;
        border-radius: 3px;
        padding: 8px;
        margin-bottom: 8px;
        font-weight: 300;
        font-size: 0.7rem; }
    .deal-grid-container .deal-list-container .deal-list-footer {
      background: white;
      text-align: center;
      border-top: 1px solid #c9d1da;
      border-bottom: 1px solid #c9d1da;
      font-size: 0.7rem;
      font-weight: 600;
      padding: 8px; }

.deal-card-title-link {
  padding-bottom: 5px; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #2c2c2c;
  opacity: 0.9;
  z-index: 5;
  display: none; }
  .mask.show {
    display: inline; }

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 6;
  display: inline;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden; }
  .form-container.show {
    visibility: visible; }
  .form-container .form-card {
    position: relative;
    height: 600px;
    width: 500px;
    background: #fff;
    margin-top: 100px;
    border-radius: 5px;
    transform: translateX(100vw);
    transition: all 0.3s ease-out; }
    .form-container .form-card.show {
      transition: all 0.3s ease-out;
      transform: translateX(0); }
    .form-container .form-card .form-header-container {
      display: flex;
      flex-flow: row;
      align-items: left;
      justify-content: center;
      height: 50px;
      width: auto;
      background-image: url("../images/branding/form-header-1.png");
      color: #fff;
      font-weight: 900;
      text-transform: capitalize;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: left; }
      .form-container .form-card .form-header-container .form-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: auto; }
    .form-container .form-card .company-details-header-container {
      display: flex;
      flex-flow: row;
      align-items: left;
      justify-content: center;
      height: 50px;
      width: auto;
      background-image: url("../images/branding/form-header-2.png");
      color: #fff;
      font-weight: 900;
      text-transform: capitalize;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: left; }
      .form-container .form-card .company-details-header-container .form-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: auto; }
    .form-container .form-card .form-name {
      width: 431px; }
    .form-container .form-card .fas {
      cursor: pointer;
      margin-left: 10px; }
    .form-container .form-card .fa-times:hover {
      color: lightcoral;
      transition: all 0.1s ease-out; }
    .form-container .form-card .fa-pencil-alt:hover {
      color: lightskyblue;
      transition: all 0.1s ease-out; }
    .form-container .form-card .form-footer-container {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60px;
      width: 100%;
      background: #f4f8fa;
      border-top: 1px solid #c9d1da;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }

.Initiated-deal-progress-list {
  background: #f4f8fa;
  list-style: none;
  margin-top: -5px;
  padding: 0 5px 15px 5px;
  border-bottom: 1px solid #c9d1da; }
  .Initiated-deal-progress-list .deal-progress-line {
    width: 38px;
    height: 4px;
    margin: 0 2px 0 2px;
    display: inline-block; }
    .Initiated-deal-progress-list .deal-progress-line:nth-child(1) {
      background: #2eb347; }
    .Initiated-deal-progress-list .deal-progress-line:nth-child(2) {
      background: #e2eaf2; }
    .Initiated-deal-progress-list .deal-progress-line:nth-child(3) {
      background: #e2eaf2; }
    .Initiated-deal-progress-list .deal-progress-line:nth-child(4) {
      background: #e2eaf2; }
    .Initiated-deal-progress-list .deal-progress-line:nth-child(5) {
      background: #e2eaf2; }

.Qualified-deal-progress-list {
  background: #f4f8fa;
  list-style: none;
  margin-top: -5px;
  padding: 0 5px 15px 5px;
  border-bottom: 1px solid #c9d1da; }
  .Qualified-deal-progress-list .deal-progress-line {
    width: 38px;
    height: 4px;
    margin: 0 2px 0 2px;
    display: inline-block; }
    .Qualified-deal-progress-list .deal-progress-line:nth-child(1) {
      background: #2eb347; }
    .Qualified-deal-progress-list .deal-progress-line:nth-child(2) {
      background: #2eb347; }
    .Qualified-deal-progress-list .deal-progress-line:nth-child(3) {
      background: #e2eaf2; }
    .Qualified-deal-progress-list .deal-progress-line:nth-child(4) {
      background: #e2eaf2; }
    .Qualified-deal-progress-list .deal-progress-line:nth-child(5) {
      background: #e2eaf2; }

.Sent-deal-progress-list {
  background: #f4f8fa;
  list-style: none;
  margin-top: -5px;
  padding: 0 5px 15px 5px;
  border-bottom: 1px solid #c9d1da; }
  .Sent-deal-progress-list .deal-progress-line {
    width: 38px;
    height: 4px;
    margin: 0 2px 0 2px;
    display: inline-block; }
    .Sent-deal-progress-list .deal-progress-line:nth-child(1) {
      background: #2eb347; }
    .Sent-deal-progress-list .deal-progress-line:nth-child(2) {
      background: #2eb347; }
    .Sent-deal-progress-list .deal-progress-line:nth-child(3) {
      background: #2eb347; }
    .Sent-deal-progress-list .deal-progress-line:nth-child(4) {
      background: #e2eaf2; }
    .Sent-deal-progress-list .deal-progress-line:nth-child(5) {
      background: #e2eaf2; }

.Won-deal-progress-list {
  background: #f4f8fa;
  list-style: none;
  margin-top: -5px;
  padding: 0 5px 15px 5px;
  border-bottom: 1px solid #c9d1da; }
  .Won-deal-progress-list .deal-progress-line {
    width: 38px;
    height: 4px;
    margin: 0 2px 0 2px;
    display: inline-block; }
    .Won-deal-progress-list .deal-progress-line:nth-child(1) {
      background: #2eb347; }
    .Won-deal-progress-list .deal-progress-line:nth-child(2) {
      background: #2eb347; }
    .Won-deal-progress-list .deal-progress-line:nth-child(3) {
      background: #2eb347; }
    .Won-deal-progress-list .deal-progress-line:nth-child(4) {
      background: #2eb347; }
    .Won-deal-progress-list .deal-progress-line:nth-child(5) {
      background: #e2eaf2; }

.Lost-deal-progress-list {
  background: #f4f8fa;
  list-style: none;
  margin-top: -5px;
  padding: 0 5px 15px 5px;
  border-bottom: 1px solid #c9d1da; }
  .Lost-deal-progress-list .deal-progress-line {
    width: 38px;
    height: 4px;
    margin: 0 2px 0 2px;
    display: inline-block; }
    .Lost-deal-progress-list .deal-progress-line:nth-child(1) {
      background: #2eb347; }
    .Lost-deal-progress-list .deal-progress-line:nth-child(2) {
      background: #2eb347; }
    .Lost-deal-progress-list .deal-progress-line:nth-child(3) {
      background: #2eb347; }
    .Lost-deal-progress-list .deal-progress-line:nth-child(4) {
      background: #2eb347; }
    .Lost-deal-progress-list .deal-progress-line:nth-child(5) {
      background: #2eb347; }

.form-field-container {
  height: auto;
  padding: 40px 50px 15px 50px;
  display: flex;
  flex-flow: column;
  align-items: left;
  justify-content: top;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.7rem;
  color: #2c2c2c; }

.form-field {
  width: 100%;
  height: 30px;
  background: #f4f8fa;
  border: 1px solid #c9d1da;
  border-radius: 2px;
  margin: 5px 0 20px 0;
  padding-left: 5px;
  font-weight: 200; }
  .form-field:focus {
    outline: 1px solid #33c74f;
    background: #e2eaf2; }
  .form-field:hover {
    background: #e2eaf2;
    transition: all 0.1s ease-out; }

.company-detailed-divider {
  width: 200px;
  height: 1px;
  background: #2c2c2c;
  margin: 20px auto 20px auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  color: white;
  margin: 0 55px 0 55px; }

a {
  color: #fff;
  text-decoration: none; }

.btn {
  position: absolute;
  right: 0;
  background: #2eb347;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 12px 24px 12px 24px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer; }
  .btn:hover {
    background: #33c74f;
    transition: all 0.1s ease-out; }

.submit-button {
  position: absolute;
  bottom: 10px;
  right: 24px;
  background: #2eb347;
  border: none;
  color: #fff;
  height: 40px;
  width: 100px;
  padding: 0 30px 0 30px;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer; }
  .submit-button:hover {
    background: #33c74f;
    transition: all 0.1s ease-out; }
  .submit-button:active {
    box-shadow: inset 0px 0px 5px #196227;
    outline: none; }
  .submit-button:focus {
    outline: none; }

.delete-button {
  position: absolute;
  bottom: 10px;
  left: 24px;
  background: #b50717;
  border: none;
  color: #fff;
  height: 40px;
  width: 160px;
  padding: 0 30px 0 30px;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer; }
  .delete-button:hover {
    background: #ce081a;
    transition: all 0.1s ease-out; }
  .delete-button:active {
    box-shadow: inset 0px 0px 5px #196227;
    outline: none; }
  .delete-button:focus {
    outline: none; }

.header-div {
  position: relative;
  height: 70px;
  margin-top: 70px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #acacac; }
  .header-div h2 {
    color: #2c2c2c;
    font-weight: 300; }

.bold {
  font-weight: 600; }

.text-link {
  color: #02a4bd; }
