@import "abstracts/variables";
@import "partitions/navbar";
@import "partitions/companies";
@import "partitions/dashboard";
@import "partitions/deals";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  color: red;
  margin: 0 55px 0 55px;
}

a {
  color: #fff;
  text-decoration: none;
}
