// VARIABLES GO HERE

//backgrounds and dark text on light background color
$primary-color: #2c2c2c;
//buttons and highlights
$secondary-color: #33c74f;
//not sure yet
$tertiary-color: #2eb347;

//form & table colors, please reference the images in the project assignment document for use cases
$primary-card-color: #f4f8fa; //lighter
$secondary-card-color: #e2eaf2; //darker
$tertiary-card-color: #c9d1da;

//text links on white backgrounds
$text-link-color: #02a4bd;

//mixins
@mixin fastEaseOut {
  transition: all 0.1s ease-out;
}

@mixin slowEaseOut {
  transition: all 0.3s ease-out;
}

@mixin formSlideIn {
  transition: all 0.3s cubic-bezier(0.76, 1.55, 0.96, 0.84);
}

@mixin waySlowEaseOut {
  transition: all 1.5s ease-out;
}

//media queries
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaXS {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin mediaM {
  @media screen and (max-width: 1132px) {
    @content;
  }
}

@mixin mediaL {
  @media screen and (min-width: 1132px) {
    @content;
  }
}
